.container{
  overflow-x: hidden ;
}
/* varibale for box shadow */
:root{
  --box-shadow: 5px 5px 10px 0px rgba(101,175,10,0.5);

  --bg-color: rgba(40,47,97);
}

body{
  background-color: rgb(11,26,51);
  color: white;
 
}

a{
  text-decoration: none;
  color: white;
}
 

.navbar .navbar-brand,  .navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem;
}

.navbar-brand:hover, .nav-item:hover {
  border-bottom: 3px solid yellow;
}

/* Navbar.css */
.custom-toggler {
  border: none; /* Remove default border if needed */
  background-color: white; /* Change this to your desired color */
}


/* home section */

.home{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .left {
  background-color: var(--bg-color);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}
.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow;
  width: 350px;
  height: 350px; */
}

.home .right .img img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px solid yellow;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
}

@keyframes superman {
  0%{
    border-color: blue;
    transform: translate(0,0px);
    box-shadow: 10px 10px 100px 50px blue;
   

  }
  25%{
    border-color: rgb(239,244,11);
    box-shadow: 10px 10px 100px 50px rgb(239,244,11);

  }
  50%{
    border-color: rgb(12,12,199);
    transform: translate(0,10px);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);

  }
  75%{
    border-color: rgb(130,217,160);
    box-shadow: 10px 10px 100px 50px rgb(130,217,160);

  }
  100%{
    border-color: rgb(50,55,205);
    transform: translate(0,0px);
    box-shadow: 10px 10px 100px 50px rgb(50,55,205);

  }
}

/* experience */

/* .ex{
  width: 57rem;
}
.ex-items{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: var(--bg-color);
  margin: 20px;
   width: 50rem; 
  padding: 30px ;
  border-radius: 1rem;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
} */

/* Default styles for .x */
.ex {
  width: 57rem; /* Width for larger screens */

}

.ex-items{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
 
}
@media (max-width: 600px) {
  .ex{
    width: 20rem;
  }
}



/* skills */

/* .skills{
  width: 900px;

}

.skills .items{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 800px;
margin: auto; 

}*/
.skills .item {
  width: calc(60.33%);
  background-color: black;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.skills{
  width: 900px;
 
}
.skills .item img{
  width: 70px;
  
}

@media (max-width: 500px) {
  .skills .item{
    width: calc(35%);
    margin-left: 1rem;
  }
  
  
}


/* contact */
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact .items{
 
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid yellow;
  border-radius: 50%;
}

.contact .items i{
  font-size: 2rem;
}

.contact .items:hover{
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);

}